<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ar.wallet.mapper.MemberAccountChangeMapper">

    <select id="selectUpSumInfo" resultType="org.ar.wallet.entity.MemberAccountChange">
        SELECT
            IFNULL(sum(amount_change),0) as amountChange,
            merchant_name as merchantName
        FROM
            member_account_change
        WHERE
            change_type = 4 and merchant_name <![CDATA[<> '']]>
        GROUP BY merchant_name;
    </select>

    <select id="selectDownSumInfo" resultType="org.ar.wallet.entity.MemberAccountChange">
        SELECT
            IFNULL(sum(amount_change),0) as amountChange,
            merchant_name as merchantName
        FROM
            member_account_change
        WHERE
            change_type = 7 and merchant_name <![CDATA[<> '']]>
        GROUP BY merchant_name;
    </select>
</mapper>