<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ar.wallet.mapper.MemberGroupMapper">

    <select id="fetchMemberGroup" resultType="org.ar.wallet.entity.MemberGroup">
        SELECT
            g.* , i.member_count as memberCount
        FROM
            member_group g
            LEFT JOIN ( SELECT member_group, count(0) as member_count FROM member_info GROUP BY member_group ) i ON g.id = i.member_group
    </select>
</mapper>