<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ar.wallet.mapper.MerchantPaymentOrdersMapper">

    <select id="selectWithdrawFuture" resultType="java.lang.Long">
        SELECT
            IFNULL( count( DISTINCT member_id ), 0 )
        FROM
            merchant_payment_orders
        WHERE  order_status = 2
    </select>

    <select id="selectMerchantWithdrawNum" resultType="org.ar.wallet.entity.MemberInfo">
        SELECT
            IFNULL( count( DISTINCT member_id ), 0 ) as num,
            merchant_code,merchant_name
        FROM
            merchant_payment_orders
        WHERE  order_status = 2
          and merchant_code <![CDATA[<> '']]>
        GROUP BY merchant_code , merchant_name
    </select>

    <select id="selectCountGroupByCode" resultType="org.ar.wallet.entity.MerchantPaymentOrders">
        SELECT
            count( 1 ) AS amount,
            merchant_code as merchantCode
        FROM
            merchant_payment_orders
        WHERE
            create_time <![CDATA[>=]]> #{startTime}
          AND create_time <![CDATA[<=]]> #{endTime}
        GROUP BY
            merchant_code,
            merchant_name
    </select>

    <select id="selectCostByDate" resultType="org.ar.wallet.entity.MemberInfo">


        SELECT
            IFNULL(sum( cost ),0) as balance,
            merchant_code, merchant_name
        FROM
            merchant_payment_orders
        GROUP BY merchant_code, merchant_name

    </select>
    <select id="getPaymentLastOrderCreditTime" resultType="org.ar.common.pay.dto.LastOrderWarnDTO">
        SELECT t.merchant_name, t.create_time as lastOrderCreateTime
        FROM (SELECT merchant_name, max(create_time) as create_time FROM merchant_payment_orders GROUP BY merchant_name) a
                 LEFT JOIN merchant_payment_orders t ON t.merchant_name = a.merchant_name and t.create_time = a.create_time
        where t.merchant_name is not null;
    </select>
</mapper>
