<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ar.manager.mapper.BiPaymentOrderMonthMapper">

    <update id="updateByDateTime">
        INSERT INTO bi_payment_order_month (
            date_time,
            money,
            actual_money,
            order_num,
            success_order_num,
            total_fee,
            create_time,
            update_time,
            last_minute,
            cancel_pay,
            cancel_order,
            appeal_num,
            finish_duration,
            merchant_code
        )
        VALUES
            (
                #{vo.dateTime},
                #{vo.money},
                #{vo.actualMoney},
                #{vo.orderNum},
                #{vo.successOrderNum},
                #{vo.totalFee},
                now(),
                now(),
                #{vo.lastMinute},
                #{vo.cancelPay},
                #{vo.cancelOrder},
                #{vo.appealNum},
                #{vo.finishDuration},
                #{vo.merchantCode}
            )
            ON DUPLICATE KEY UPDATE
                                 money = money + #{vo.money},
                                 actual_money = actual_money + #{vo.actualMoney},
                                 order_num = order_num + #{vo.orderNum},
                                 success_order_num = success_order_num + #{vo.successOrderNum},
                                 total_fee = total_fee + #{vo.totalFee},
                                 update_time = now(),
                                 cancel_pay = cancel_pay + #{vo.cancelPay},
                                 cancel_order = cancel_order + #{vo.cancelOrder},
                                 appeal_num = #{vo.appealNum},
                                 finish_duration = finish_duration + #{vo.finishDuration}
        <if test="vo.lastMinute != null and vo.lastMinute != ''">
            ,last_minute = #{vo.lastMinute}
        </if>

    </update>

    <delete id="deleteMonthByDateTime">
        DELETE from bi_payment_order_month where date_time = #{dateTime}
    </delete>

    <select id="selectDataInfoByMonth" resultType="org.ar.manager.entity.BiPaymentOrderMonth">
        SELECT
            sum( money ) AS money,
            sum( actual_money ) AS actualMoney,
            sum( total_fee ) AS totalFee,
            sum( order_num ) AS orderNum,
            sum( success_order_num ) AS successOrderNum,
            sum( cancel_pay ) AS cancelPay,
            sum( cancel_order ) AS cancelOrder,
            sum( appeal_num ) AS appealNum,
            sum( finish_duration ) AS finishDuration,
            merchant_code as merchantCode
        FROM
            bi_payment_order_daily
        WHERE
            DATE_FORMAT( date_time, "%Y-%m" ) = #{dateTime}

        GROUP BY merchant_code
    </select>
</mapper>