<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ar.manager.mapper.BiPaymentOrderMapper">

    <select id="selectPaymentOrderList" resultType="org.ar.manager.entity.BiPaymentOrder">
        SELECT
        *
        FROM
        `bi_payment_order_daily`
        WHERE
        DATE_FORMAT(create_time,'%Y-%m-%d') = #{dateStr}
        create_time <![CDATA[>=]]> #{startTime}
        AND create_time <![CDATA[<]]> #{endTime}
        limit #{star}, #{end}
    </select>

    <update id="updateByDateTime">
        INSERT INTO bi_payment_order_daily (
            date_time,
            money,
            actual_money,
            order_num,
            success_order_num,
            total_fee,
            create_time,
            update_time,
            last_minute,
            cancel_pay,
            cancel_order,
            appeal_num,
            finish_duration,
            merchant_code,
            pay_over_time,
            confirm_over_time,
            appeal_success,
            appeal_fail,
            amount_error,
            cancel
        )
        VALUES
            (
            #{vo.dateTime},
            #{vo.money},
            #{vo.actualMoney},
            #{vo.orderNum},
            #{vo.successOrderNum},
            #{vo.totalFee},
            now(),
            now(),
            #{vo.lastMinute},
            #{vo.cancelPay},
            #{vo.cancelOrder},
            #{vo.appealNum},
            #{vo.finishDuration},
            #{vo.merchantCode},
            #{vo.payOverTime},
            #{vo.confirmOverTime},
            #{vo.appealSuccess},
            #{vo.appealFail},
            #{vo.amountError},
            #{vo.cancel}
            )
            ON DUPLICATE KEY UPDATE
            money = money + #{vo.money},
            actual_money = actual_money + #{vo.actualMoney},
            order_num = order_num + #{vo.orderNum},
            success_order_num = success_order_num + #{vo.successOrderNum},
            total_fee = total_fee + #{vo.totalFee},
            cancel_pay = cancel_pay + #{vo.cancelPay},
            cancel_order = cancel_order + #{vo.cancelOrder},
            appeal_num = #{vo.appealNum},
            finish_duration = finish_duration + #{vo.finishDuration},
            pay_over_time = pay_over_time + #{vo.payOverTime},
            confirm_over_time = confirm_over_time + #{vo.confirmOverTime},
            appeal_success = appeal_success + #{vo.appealSuccess},
            appeal_fail =  appeal_fail + #{vo.appealFail},
            amount_error = amount_error + #{vo.amountError},
            cancel = cancel + #{vo.cancel},
            update_time = now()
        <if test="vo.lastMinute != null and vo.lastMinute != ''">
            ,last_minute = #{vo.lastMinute}
        </if>
    </update>

    <delete id="deleteDailyByDateTime">
        DELETE from bi_payment_order_daily where date_time = #{dateTime}
    </delete>

</mapper>